*{
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* particleground demo */

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

body {
  background: ##FFFFFF;
  font-family: 'Montserrat', sans-serif;
  color: #000000;
  line-height: 1.3;
  -webkit-font-smoothing: antialiased;

}

#particles {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#intro {
  position: absolute;
  left: 0;
  top: 50%;
  padding: 0 10px;
  width: 100%;
  text-align: center;
}
h2 {
  text-transform: uppercase;
  font-size: 50px;
  font-weight: 120;
  color: #ffffff;
  letter-spacing: 0.05em;
}
h1::after {
  content: '';
  width: 80px;
  display: block;
  background: #fff;
  height: 10px;
  margin: 30px auto;
  line-height: 1.1;
}
p {
  margin: 0 0 30px 0;
  font-size: 24px;
  font-family: 'Roboto', sans-serif;
}

@media only screen and (max-width: 1000px) {
  h1 {
    font-size: 15px;
  }
}

@media only screen and (max-width: 100px) {
  h1 {
    font-size: 15px;
  }
  h1::after {
    height: 8px;
  }
}

@media only screen and (max-width: 100px) {
  #intro {
    padding: 0 10px;
  }
  h1 {
    font-size: 15px;
  }
  h1::after {
    height: 6px;
  }
  p {
    font-size: 18px;
  }
  .btn {
    font-size: 16px;
  }
}

@media only screen and (max-width: 100px) {
  h1 {
    font-size: 15px;
  }
  h1::after {
    height: 4px;
  }
}


h2 {
    padding-bottom: 25px !important;
}

.servicesList {
      padding-top: 85px !important;
}


#intro {
    padding-top: 45px !important
    padding-bottom: 10px !important;
}

@media only screen and (min-width: 100px) {

  #particles {
    position: fixed;
    text-align: center;
  }

  .firstContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  element.style {
    padding-top: 0px !important;
}

.servicesList {
      padding-top: 85px !important;
      /* border-top: 2px solid black;
      border-bottom: 2px solid black;
      border-left: 2px solid black;
      border-right: 2px solid black; */
}


#intro {
    padding-top: 45px !important;
    padding-bottom: 40px !important;
}

}

h2 {
  color: #000000;
}

#intro {
  /* display: flex; */
  z-index: -1;
}

body div div#intro.servicesList2 p:nth-child(1){
  padding-top: 75px;
}
body div div#intro.servicesList2 p{
  margin-bottom: 10px;
  color: #ff006e !important;
  font-size: 14px;
}

a:link {
  color: black;
}

a:visited {
  color: #ff006e;
}

.firstContainer {
  position: absolute !important;
/*position: relative;
//position: fixed;*/
left: 0px;
top: 0px;
z-index: -1;
}

#particles {
  overflow-x: auto;
}
